USE [master]
GO
/****** Object:  Database [Perpustakaan]    Script Date: 07/05/2022 02:17:12 ******/
CREATE DATABASE [Perpustakaan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Perspustakaan_Api', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Perspustakaan_Api.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Perspustakaan_Api_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Perspustakaan_Api_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Perpustakaan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Perpustakaan]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 07/05/2022 02:17:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 07/05/2022 02:17:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [char](24) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Title] [varchar](150) NOT NULL,
	[Category] [int] NULL,
	[Author] [varchar](150) NOT NULL,
	[Publisher] [varchar](150) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[Page] [int] NOT NULL,
	[Download] [varchar](60) NULL,
	[Image] [varchar](60) NULL,
	[ViewCount] [bigint] NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateUpdated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookGenre]    Script Date: 07/05/2022 02:17:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookGenre](
	[Id] [bigint] NOT NULL,
	[BookId] [char](24) NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_BookGenre] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 07/05/2022 02:17:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 07/05/2022 02:17:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[Id] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[BookId] [char](24) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Favorite] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 07/05/2022 02:17:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 07/05/2022 02:17:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [bigint] NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[Email] [varchar](200) NOT NULL,
	[Password] [char](64) NOT NULL,
	[Role] [int] NOT NULL,
	[Gender] [int] NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[Address] [varchar](500) NOT NULL,
	[Image] [varchar](60) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateUpdated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Book] ([Id], [UserId], [Title], [Category], [Author], [Publisher], [Description], [Page], [Download], [Image], [ViewCount], [DateCreated], [DateUpdated]) VALUES (N'BOOK00000000000000000001', 1, N'helo', NULL, N'helo', N'helo', N'helo', 1, N'Download_2022_03_14_164302_BOOK00000000000000000001.pdf', N'nopict.png', 10, CAST(N'2022-03-14T16:43:02.9725249' AS DateTime2), CAST(N'2022-03-14T16:43:02.9725795' AS DateTime2))
INSERT [dbo].[Book] ([Id], [UserId], [Title], [Category], [Author], [Publisher], [Description], [Page], [Download], [Image], [ViewCount], [DateCreated], [DateUpdated]) VALUES (N'BOOK00000000000000000002', 1, N'helo', 1, N'helo', N'helo', N'heo', 1, N'Download_2022_03_14_164620_BOOK00000000000000000002.pdf', N'nopict.png', 3, CAST(N'2022-03-14T16:46:20.2595461' AS DateTime2), CAST(N'2022-03-14T16:46:20.2596205' AS DateTime2))
INSERT [dbo].[Book] ([Id], [UserId], [Title], [Category], [Author], [Publisher], [Description], [Page], [Download], [Image], [ViewCount], [DateCreated], [DateUpdated]) VALUES (N'BOOK00000000000000000003', 1, N'helo', 1, N'helo', N'helo', N'helo', 1, N'Download_2022_03_14_230724_BOOK00000000000000000003.pdf', N'nopict.png', 8, CAST(N'2022-03-14T23:07:24.8397436' AS DateTime2), CAST(N'2022-03-14T23:07:24.8398177' AS DateTime2))
GO
INSERT [dbo].[BookGenre] ([Id], [BookId], [GenreId]) VALUES (1, N'BOOK00000000000000000003', 1)
INSERT [dbo].[BookGenre] ([Id], [BookId], [GenreId]) VALUES (2, N'BOOK00000000000000000005', 1)
INSERT [dbo].[BookGenre] ([Id], [BookId], [GenreId]) VALUES (3, N'BOOK00000000000000000005', 2)
GO
INSERT [dbo].[Category] ([Id], [Name]) VALUES (1, N'Philosophy')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (2, N'Comic')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (3, N'Novel')
GO
INSERT [dbo].[Favorite] ([Id], [UserId], [BookId], [Date]) VALUES (2, 1, N'BOOK00000000000000000046', CAST(N'2022-04-14T11:41:23.8282833' AS DateTime2))
INSERT [dbo].[Favorite] ([Id], [UserId], [BookId], [Date]) VALUES (3, 1, N'BOOK00000000000000000050', CAST(N'2022-05-06T04:10:04.5332703' AS DateTime2))
GO
INSERT [dbo].[Genre] ([Id], [Name]) VALUES (1, N'History')
INSERT [dbo].[Genre] ([Id], [Name]) VALUES (2, N'Action')
INSERT [dbo].[Genre] ([Id], [Name]) VALUES (3, N'Fantasy')
GO
INSERT [dbo].[User] ([Id], [Name], [Email], [Password], [Role], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Image], [DateCreated], [DateUpdated]) VALUES (1, N'Admin', N'user@example.com', N'fa8440c5effd6ea4efd71a67048c821949c034dea63a4761c6cb86a5d8f70f0d', 0, 0, CAST(N'2011-11-11' AS Date), N'111111111111', N'Indonesia', N'2022_04_02_103733_user@example.com.jpg', CAST(N'2022-03-06T16:50:54.8994338' AS DateTime2), CAST(N'2022-04-02T10:37:33.2015721' AS DateTime2))
INSERT [dbo].[User] ([Id], [Name], [Email], [Password], [Role], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Image], [DateCreated], [DateUpdated]) VALUES (2, N'User', N'user@example234d.com', N'fa8440c5effd6ea4efd71a67048c821949c034dea63a4761c6cb86a5d8f70f0d', 1, 0, CAST(N'2011-11-11' AS Date), N'111111111111', N'Indonesia', N'nopict.png', CAST(N'2022-03-06T16:50:54.8994338' AS DateTime2), CAST(N'2022-03-06T16:50:54.8994634' AS DateTime2))
INSERT [dbo].[User] ([Id], [Name], [Email], [Password], [Role], [Gender], [DateOfBirth], [PhoneNumber], [Address], [Image], [DateCreated], [DateUpdated]) VALUES (3, N'User', N'user@example2d.com', N'fa8440c5effd6ea4efd71a67048c821949c034dea63a4761c6cb86a5d8f70f0d', 1, 0, CAST(N'2011-11-11' AS Date), N'111111111111', N'Indonesia', N'nopict.png', CAST(N'2022-03-06T16:50:54.8994338' AS DateTime2), CAST(N'2022-03-06T16:50:54.8994634' AS DateTime2))
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Category] FOREIGN KEY([Category])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Category]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_User]
GO
ALTER TABLE [dbo].[BookGenre]  WITH CHECK ADD  CONSTRAINT [FK_BookGenre_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
ALTER TABLE [dbo].[BookGenre] CHECK CONSTRAINT [FK_BookGenre_Book]
GO
ALTER TABLE [dbo].[BookGenre]  WITH CHECK ADD  CONSTRAINT [FK_BookGenre_Genre] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genre] ([Id])
GO
ALTER TABLE [dbo].[BookGenre] CHECK CONSTRAINT [FK_BookGenre_Genre]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Book]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_User]
GO
USE [master]
GO
